
.env
*.env
*.env.local
!.env.example


# Node / Frontend
/frontend/node_modules
/node_modules


/backend/__pycache__
/backend/venv
/backend/*.pyc
/__pycache__
/venv


logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


/frontend/dist
/frontend/dist-ssr
/frontend/.next
/dist
/dist-ssr
/.next
*.local



.DS_Store


Thumbs.db


.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?